:root {
    --gutter: 16px;
    --half-gutter: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


img.icon{
    width: 200px;
}


dialog.load[open] {
    width: min(300px, 100%);
    height: min(300px, 100%);
    background-color: transparent;
    position: fixed;
    inset: 0;
    margin: auto;
    border: none;
    color: inherit;
    font-size: 1.5rem;
    display: grid;
    align-content: flex-start;
    justify-items: center;
    gap: var(--gutter);
}

dialog.load:focus{
    border: none;
    outline: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

body {
    color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    min-height: 100vh;
    width: 100%;
    background-color: gray;
    padding: 0 var(--gutter) var(--gutter);
    position: relative;
}

body[data-sky="blue"],
body[data-sky="blue"] header,
body[data-sky="blue"] #content *
{
    background-color: #0094d7;
}

body[data-sky="gray"], 
body[data-sky="gray"] header,
body[data-sky="gray"] #content * 
{
    background-color: rgb(104, 104, 104);
}

body[data-sky="black"], 
body[data-sky="black"] header,
body[data-sky="black"] #content * 
{
    background-color: rgb(0, 28, 46);
}

body[data-sky="orange"], 
body[data-sky="orange"] header,
body[data-sky="orange"] #content * 
{
    background-color: #ff7a00;
}

header {
    position: sticky;
    top: 0;
    z-index: calc(infinity);
    display: grid;
    gap: var(--half-gutter);
    padding: var(--gutter) 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: var(--gutter);
}


label {
    flex: 1;
    max-width: 60ch;
    font-size: 1.2rem;
    font-weight: bold;
}

input#search {
    font-size: 1.2rem;
    min-width: min(100%, 50ch);
    padding: 0.5ch 1ch;
    border-radius: 2ch;
    border-style: none;
    background-color: #fafafa;
}

input#search:focus {
    outline: 2px solid skyblue;
}

button[type="submit"] {
    flex: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5ch 3ch;
    border-style: none;
    border-radius: 2ch;
    color: #525252;
    background-color: #efefef;
}

button:hover {
    cursor: pointer;
}

button:active {
    outline: 2px solid #efefef;
    outline-offset: 2px;
}

fieldset {
    padding-top: var(--half-gutter);
    border: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: var(--gutter);
}

input[type="radio"] {
    transform: scale(1.5);
    accent-color: #737373;
}

footer {
    padding: calc(var(--gutter)*3) 0 0;
    position: sticky;
    top: 100vh;
    right: 0;
    left: 0;
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gutter);
    justify-content: center;
}

h2.address {
    margin: calc(var(--gutter) * 2) 0;
}

section {
    width: min(800px, 100%);
    border: 3px solid;
    border-radius: var(--gutter);
    padding: calc(var(--gutter)*2);
    margin: calc(var(--gutter)*3) auto;
    position: relative;
}

h3 {
    position: absolute;
    top: -1.3rem;
    left: calc(var(--gutter) * 2 - 1ch);
    padding: 0 1ch;
    /* padding: 0 1ch; */
}


.current .date{
    font-size: 1.5rem;
}


.current .summary{
    display: grid;
    grid-template-columns: min(200px, 50%) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "icon temp" "icon conditions";
    column-gap: var(--gutter);
    row-gap: var(--half-gutter);
    align-items: center;
    margin: var(--gutter) 0;
}

.current .icon {
    width: min(200px, 100%);
    grid-area: icon;
}

.current .temp {
    font-size: 2.2rem;
    font-weight: bold;
    grid-area: temp;
}

.current .conditions{
    font-size: 1.5rem;
    grid-area: conditions;
    align-self: start;
}

.current div.data{
    width: 100%;
    display: grid;
    grid-template-columns: 8ch 1fr;
    column-gap: var(--gutter);
}

.week .description {
    margin-bottom: var(--gutter);
}

.week table {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.week thead, .week tbody, .week tr{
    display: contents;
}

.week th, .week td {
    display: grid;
    align-items: center;
    justify-items: center;
}

.week tbody .date {
    height: 150px;
}

.week .weekday {
    align-self: end;
}

.week .month-day {
    font-weight: normal;
    align-self: start;
}

.week .icon {
    width: 150px;
}

.week .temp .max {
    font-size: 1.8rem;
    font-weight: bold;
}

.week .temp .min {
    font-size: 1.2rem;
}

.week .humidity,
.week .windspeed {
    text-align: right;
}


@media screen and (max-width: 475px) {
    .current .summary {
        grid-template-rows: auto auto;
        grid-template-areas: "icon temp" "conditions conditions";
    }
    .week {
        padding: var(--gutter);
    }
    .week table {
        width: 100%;
        grid-template-columns: repeat(3, auto);
    }

    .week .humidity, .week .windspeed {
        display: none;
    }

    .week tbody .date {
        height: 100px;
    }

    .week .temp>span {
        display: grid;
    }

    .week .temp .max {
        line-height: 1;
    }
    .week .icon {
        width: 100px;
    }
}