* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


img.icon{
    width: 200px;
}


dialog.load {
    width: min(300px, 100%);
    height: min(300px, 100%);
    background-color: transparent;
    position: fixed;
    inset: 0;
    margin: auto;
    border: none;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}